/* Skeleton loading https://youtu.be/ZVug65gW-fc */

.skeleton{
  animation: skeleton-loading 1s ease infinite alternate;
}
.skeleton-text{
  width: 100%;
  height: .7rem;
  margin-bottom: .25rem;
  border-radius: .125rem;
}
.skeleton-text:last-child{
  margin-bottom: 0;
  width: 80%;
}
@keyframes skeleton-loading {
  0%{
    background-color: hsl(200, 20%, 80%);
  }
  100%{
    background-color: hsl(200, 20%, 95%);
  }
}

/* invisible */
.invisible{
  display: none;
}

.toast-wrapper{
  z-index: 1000;
}